<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1><%= locals.title %></h1>
<img src="/images/logo.jpg" alt="logo.jpg" width="250px">
<p><%= locals.message %></p>
</body>
</html>
