<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>米哈游成长关爱平台-家长守护</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
        }

        .top {
            width: 100%;
            height: 80px;
            background-color: #38a2ff;

            z-index: 9999;

        }

        .nav ul {
            position: relative;


        }

        .nav ul li {
            display: inline-block;
            margin-left: 100px;
            color: #fff;
        }

        .nav ul li img {
            position: relative;
            top: 15px;
        }

        .btn {
            width: 70px;
            border: 2px solid #fff;
            color: #fff;
            padding: 5px;
            text-align: center
        }

        #one {
            background-color: skyblue;
            padding: 29px;


        }

        .main {
            width: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 55px;
        }

        .main .main_h1 {
            font-size: 50px;
            color: slategrey;
            font-weight: 900;

        }

        .main .main_h3 {
            font-size: 30px;
            color: slategray;
            margin-top: 45px;
        }

        .main .main_image {
            margin-top: 25px;
        }

        .footer {
            width: 100%;
            height: auto;
            background-color: #fff;
            color: #999;
            padding: 25px;

        }

        .footer .lb {
            width: 60%;
            height: auto;

            text-align: center;
            letter-spacing: 1px;
            color: #fff;
            position: relative;
            left: 400px;

        }

        .footer .lb ul li {
            display: inline;
            margin-left: 10px;
            transition: all 0.5s;
        }

        .footer .lb ul li:hover {
            text-decoration: underline;

            text-shadow: 0px 0px 5px #fff;
        }

        .footer .logo {
            width: 40%;
            position: relative;
            right: 50px;
            top: 50px;
            text-align: center;

        }

        .footer .logo img {
            width: 150px;
            margin-left: 25px;
        }

        .footer_wb {
            width: 68%;
            font-size: 15px;
            position: relative;
            left: 480px;
            top: -80px;
        }

        .footer_tb {
            width: 70%;
            display: flex;
            justify-content: center;
            flex: 1;
            align-items: center;
            flex-direction: row;
            position: relative;
            left: 320px;
            top: -40px;
        }

        .footer_tb .tpxm {
            background-color: #fff;
            padding: 5px;
            border-radius: 10px;
            margin-left: 5px;
        }

        a {
            text-decoration: none;
            background-color: #38a2ff;
            display: inline-block;
            margin-left: 0px;
            color: #fff;
        }
        .addBtn{
            width: 250px;
            background-color: #38a2ff;
            color: #fff;
            box-sizing: border-box;
            padding: 15px;
            border-radius: 10px;
            font-size: larger;
            text-align: center;
            margin-top: 25px;
        }
    </style>
</head>

<body>
    <div class="top">
        <div class="nav">
            <ul>
                <li><img src="/images/关爱logo.png" alt="" width="150px"></li>
                <li><a href="guanai">首页</a></li>
                <li><a href="function">功能介绍</a></li>
                <li>在线申请</li>
                <li>家长指引</li>
                <li id="one">家长守护</li>
                <li>
                    <div class="btn">登录</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main_image"><img src="/images/家长的关爱.png" alt="" width="450px"></div>
        <div class="main_h1">家长好，您尚未添加孩子账号</div>
        <h3 style="margin-top: 25px;">邀请孩子加入，帮助孩子养成良好习惯</h3>
        <div class="addBtn">开始添加</div>
    </div>
    <div class="footer">
        <div class="lb">
            <ul>
                <li>用户协议|</li>
                <li>隐私政策|</li>
                <li>儿童隐私政策|</li>
                <li>自律公约|</li>
                <li>成长关爱|</li>
                <li>关于我们|</li>
                <li>联系我们|</li>
                <li>加入我们</li>
            </ul>
        </div>
        <div class="logo">
            <img src="/images/米哈游.png" alt="">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="footer_wb">
            <p>
                健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。<br>

                沪公网安备31010402001113号
                |
                增值电信业务经营许可证：沪B2-20190555<br>
                沪ICP备19018275号-4 | 沪网文〔2022〕1334-052号 | 国新出审【2019】2978号<br>
                互联网违法不良信息举报邮箱: tousu@mihoyo.com 互联网违法不良信息举报电话: 021-60371750 （工作时间：每天10点 - 20点）<br>
                亲爱的市民朋友，上海警方反诈劝阻电话“962110”系专门针对避免您财产被骗受损而设，请您一旦收到来电，立即接听<br>
                未成年成长关爱热线：021-60371740 （服务时间：8:00-23:00）<br>
                © 2020 米哈游版权所有 | 上海米哈游影铁科技有限公司 客服电话：400-666-6312<br>
            </p>
        </div>
        <div class="footer_tb">
            <div class="tpxm"><img src="/images/1.png" alt=""></div>
            <div class="tpxm"><img src="/images/2.png" alt=""></div>
            <div class="tpxm"><img src="/images/3.png" alt=""></div>
            <div class="tpxm"><img src="/images/4.png" alt=""></div>
            <div class="tpxm"><img src="/images/5.png" alt=""></div>
            <div class="tpxm"><img src="/images/6.png" alt=""></div>
        </div>
    </div>
</body>

</html>
